* {
  padding: 0;
  margin: 0;
}
:focus {
  outline: none;
}
ul {
  list-style: none;
  margin-left: 5px;
}
.info_table {
  background-color: #131313;
  font-family: 'Titillium Web', sans-serif;
  color: #b6b6b6;
  font-weight: 100;
  padding: 10px;
}
.info_table-playerinfo {
  display: flex;
  justify-content: space-between;
}
.info_table-playerinfo-name {
  color: #FFF;
  font-size: 2em;
}
.info_table-playerinfo-search {
  display: flex;
  align-items: center;
}
.info_table-playerinfo-search label input {
  background-color: black;
  border: 1px solid #888;
  padding: 3px;
  color: #888;
  border-radius: 3px;
}
.info_table-grid {
  display: table;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.info_table-grid .row {
  display: table-row;
  transition: 0.3s;
}
.info_table-grid .row.header {
  font-weight: bold;
}
.info_table-grid .row:not(.header):nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}
.info_table-grid .row:not(.header):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.info_table-grid .row .cell {
  display: table-cell;
  border: 1px solid #888;
  padding: 3px 10px;
  position: relative;
  cursor: pointer;
}
.info_table-grid .row .cell:first-of-type {
  font-weight: bold;
}
.info_table-grid .row .cell .additional_info {
  display: none;
  position: absolute;
  width: 96%;
  top: 100%;
  left: -1px;
  font-size: 12px;
  border: 1px solid #888;
  background-color: #161616;
  padding: 2%;
  z-index: 100;
}
.info_table-grid .row .cell .additional_info::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 10px;
  background-color: #161616;
  transform: rotate(45deg);
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}
.info_table-grid .row .cell:focus .additional_info {
  display: block;
}
