@icon-dimension: 32px;

.toolbar {
    .item {
        display: inline-block;
        font-size: 36px;
        font-family: 'Teko', sans-serif;
        color: rgba(255, 255, 255, 0.8);
        line-height: @icon-dimension;

        .icon {
            display: inline-block;
            width: @icon-dimension;
            height: @icon-dimension;
            background-size: @icon-dimension @icon-dimension;
            vertical-align: middle;
        }

        &[data-type="unknown"] .icon {
            background-image: url(../images/icon/guy_na.svg);
        }
        &[data-type="dominated"] .icon {
            background-image: url(../images/icon/guy_bad.svg);
        }
        &[data-type="neutral"] .icon {
            background-image: url(../images/icon/guy_normal2.svg);
        }
        &[data-type="rabbit"] .icon {
            background-image: url(../images/icon/guy_rabbit.svg);
        }
    }

    .break {
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}