html, body {
    padding: 0;
    margin: 0;
}

body {
    // background: #666666;
}

.h1-title {
    color: #ffffff;

    h1 {
        margin: 3px 4px;
    }
}

#roster {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: row wrap;
    align-content: stretch;

    .player {
        position: relative;
        width: 140px;
        background: gray;
        padding: 4px 8px;
        margin: 3px;
        border: 1px solid #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.dead {
            color: #AAA;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                width: 25px;
                background-color: #000;
                right: -6px;
                bottom: 4px;
                transform: rotate(-45deg;)
            }

            .icon {
                opacity: 0.5;
            }
        }

        .icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-size: cover;
            margin-right: 8px;
            vertical-align: middle;

            &.unknown {
                background-image: url("../images/icon/guy_na.svg");
            }

            &.rabbit {
                background-image: url("../images/icon/guy_rabbit.svg");
            }

            &.neutral {
                background-image: url("../images/icon/guy_normal2.svg");
            }

            &.dominated {
                background-image: url("../images/icon/guy_bad.svg");
            }
        }
    }
}