@keyframes icon-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body[data-window="settings"] {
    background-image: url(../images/dev/bg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    background-image: url(../images/dev/bg.png);
    background-size: cover;
    background-position: center;
    color: #FFF;
}

h2 {
    padding: 0;
    margin: 0;
}

hr {
    border-color: #999;
}

.part {
    border: 1px solid #a2a2a2;
    margin: 3px 0;
    padding: 3px;
    display: none;
}

div[data-role="status"] {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    background-size: cover;

    &.loading {
        display: inline-block;
        border: 3px solid rgba(0,0,0,0.3);
        border-top: 3px solid #EEE;
        border-radius: 100%;
        animation: icon-loading 0.5s linear infinite;
    }

    &.success {
        display: inline-block;
        height: 15px;
        border-bottom: 3px solid green;
        border-left: 3px solid green;
        transform: rotate(-45deg);
    }

    &.error {
        display: inline-block;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 30px;
            width: 3px;
            background-color: red;
            position: absolute;
            top: 0;
            left: 10px;
        }

        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            transform: rotate(45deg);
        }
    }
}

.help {
    font-size: 18px;
    text-align: justify;
    border: 1px solid #999999;
    padding: 2px 6px;
    margin-top: 8px;
}

.favorite-list {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;

    &>div {
        font-size: 24px;

        &>* {
            vertical-align: middle;
        }
    }

    img {
        width: 24px;
        height: 24px;
    }

    span {
        width: 120px;
        overflow: hidden;
    }

    button {
        width: 24px;
        height: 24px;
        padding: 3px 5px;
        font-size: 14px;
    }
}

.favorite-add {
    input {
        width: 120px;
    }
}

.title-row {
    padding-top: 5px;
    text-align: right;
    .left {
        float: left;
        padding-left: 4px;
    }
    .right {
        float: right;
    }
    .clear {
        clear: both;
    }
    .title {
        font-size: 32px;
        font-weight: 600;
        margin-right: 11px;
        color: #e3e3e3;
    }
    .form-label {
        font-size: 20px;
        font-weight: 600;
        margin-right: 11px;
        color: #e3e3e3;
    }

    &+hr {
        margin-top: 0;
    }
}

.select-wrapper {
    display: inline-block;
    height: 36px;
    border: 2px solid #DDD;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);

    select {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 22px;

        option {
            border: 2px solid #DDD;
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: #EEE;
            padding: 5px 10px 0;
            font-size: 22px;
        }
    }
}