html {
  height: 100%;
}
body[data-window="help"] {
  background-image: url(../images/dev/bg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  position: relative;
  font-family: Teko, Arial;
  letter-spacing: 0.5px;
  color: #CCC;
  padding: 0 5px;
}
.container p {
  margin: 0;
}
.container .column {
  flex: 50%;
  padding: 0 5px;
  word-break: break-word;
}
.container .column img {
  width: 100%;
  max-width: 300px;
}
.container #close {
  display: block;
  position: absolute;
  background: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
}
.container #close::before,
.container #close::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #CCC;
  top: 0;
  cursor: pointer;
}
.container #close::before {
  transform: rotate(45deg);
}
.container #close::after {
  transform: rotate(-45deg);
}
.container #close:hover::before,
.container #close:hover::after {
  background-color: #FFF;
}
.container h2 {
  color: #FFF;
  margin: 10px 0 0;
}
.container h3 {
  color: #FFF;
  margin: 0;
}
.container .contact_mail {
  color: #AAA;
}
