.toolbar .item {
  display: inline-block;
  font-size: 36px;
  font-family: 'Teko', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 32px;
}
.toolbar .item .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 3px;
  background-size: 26px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.toolbar .item[data-type="unknown"] .icon {
  background-image: url(../images/icon/guy_na.svg);
}
.toolbar .item[data-type="dominated"] .icon {
  background-image: url(../images/icon/guy_bad.svg);
}
.toolbar .item[data-type="neutral"] .icon {
  background-image: url(../images/icon/guy_normal2.svg);
}
.toolbar .item[data-type="rabbit"] .icon {
  background-image: url(../images/icon/guy_rabbit.svg);
}
.toolbar .break {
  display: inline-block;
  width: 20px;
  height: 20px;
}
