html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Teko;
}
body[data-window="roster"] {
  background-color: rgba(0, 0, 0, 0.5);
}
body[data-window="roster"]::-webkit-scrollbar-track {
  background-color: transparent;
}
body[data-window="roster"]::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
body[data-window="roster"]::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.h1-title {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.h1-title h1 {
  margin: 3px 4px;
  text-shadow: 1px 1px 1px #000;
  height: 36px;
  flex-grow: 2;
}
.h1-title .filter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.h1-title .filter label {
  display: block;
  padding: 0 12px 0 0;
}
#roster {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-flow: row wrap;
  align-content: stretch;
  padding-right: 1%;
}
#roster .player {
  position: relative;
  width: 32%;
  max-width: 250px;
  background: rgba(255, 255, 255, 0.3);
  padding: 3px 6px;
  margin: 1px 0 1px 1%;
  letter-spacing: 1px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#roster .player span {
  position: relative;
  top: 3px;
}
#roster .player:nth-last-child(1),
#roster .player:nth-last-child(2),
#roster .player:nth-last-child(3) {
  flex-grow: 0;
}
#roster .player.dead {
  color: #AAA;
  background-color: rgba(0, 0, 0, 0.3);
}
#roster .player.dead::after {
  content: "DEAD";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 0, 0, 0.6);
}
#roster .player.dead .icon {
  opacity: 0.5;
}
#roster .player .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 8px;
  vertical-align: middle;
}
#roster .player .icon.unknown {
  background-image: url("../images/icon/guy_na.svg");
}
#roster .player .icon.rabbit {
  background-image: url("../images/icon/guy_rabbit.svg");
}
#roster .player .icon.neutral {
  background-image: url("../images/icon/guy_normal2.svg");
}
#roster .player .icon.dominated {
  background-image: url("../images/icon/guy_bad.svg");
}
