html,
body {
  padding: 0;
  margin: 0;
}
body[data-window="roster"] {
  background-color: rgba(0, 0, 0, 0.5);
}
body[data-window="roster"]::-webkit-scrollbar-track {
  background-color: transparent;
}
body[data-window="roster"]::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
body[data-window="roster"]::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.h1-title {
  color: #ffffff;
}
.h1-title h1 {
  margin: 3px 4px;
}
#roster {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-flow: row wrap;
  align-content: stretch;
}
#roster .player {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  padding: 3px 6px;
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#roster .player:nth-last-child(1),
#roster .player:nth-last-child(2),
#roster .player:nth-last-child(3) {
  flex-grow: 0;
}
#roster .player.dead {
  color: #AAA;
  background-color: rgba(0, 0, 0, 0.3);
}
#roster .player.dead::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 25px;
  background-color: #000;
  right: -6px;
  bottom: 4px;
  transform: rotate(-45deg);
}
#roster .player.dead .icon {
  opacity: 0.5;
}
#roster .player .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-right: 8px;
  vertical-align: middle;
}
#roster .player .icon.unknown {
  background-image: url("../images/icon/guy_na.svg");
}
#roster .player .icon.rabbit {
  background-image: url("../images/icon/guy_rabbit.svg");
}
#roster .player .icon.neutral {
  background-image: url("../images/icon/guy_normal2.svg");
}
#roster .player .icon.dominated {
  background-image: url("../images/icon/guy_bad.svg");
}
